---
import { Code } from 'astro:components'
import { Button, Icon, Input, Label, Select } from 'fulldev-ui'
import { pascal } from 'radash'

interface Props {
  component: string
  props: {
    name: string
    options?: any[]
    value?: any
  }[]
}

const components = await Astro.glob('../../node_modules/fulldev-ui/**/*.astro')

const { component, props } = Astro.props

const Component = components.find((astroComponent) => {
  const fileName = astroComponent.default.moduleId?.split('/').pop()
  const componentName = fileName?.split('.')[0]
  return componentName === pascal(component)
})?.default

Astro.url.searchParams.forEach((value, key) => {
  const propIndex = props.findIndex((prop) => prop.name === key)
  if (propIndex === -1) return
  props[propIndex].value = value
})

const propsObject: any = {}
props.forEach(({ name, value }) => {
  propsObject[name] = value
})

let propsString: string = ''

props.map(({ name, value }) => {
  propsString += name + '="' + value + '" '
})

const codeSnippet =
  `--- 
import { ` +
  component.charAt(0).toUpperCase() +
  component.slice(1) +
  ` } from 'fulldev-ui'
---

<` +
  component.charAt(0).toUpperCase() +
  component.slice(1) +
  ` ` +
  propsString +
  `/>`
---

<div class="story">
  <div class="story-preview">
    {Component && <Component {...propsObject} />}
  </div>

  <div class="story-inputs compact">
    {
      props.map(({ name, value, options }) =>
        options ? (
          <>
            <Label>
              <b>{name}?:</b>
            </Label>
            <Select
              class="story-input"
              {value}
              {name}
              {options}
            />
          </>
        ) : (
          <>
            <Label>
              <b>{name}?:</b>
            </Label>
            <Input
              class="story-input"
              {value}
              {name}
            />
          </>
        )
      )
    }
  </div>

  <div class="story-snippet">
    <Code
      lang={'astro'}
      code={codeSnippet}
    />

    <Button
      id="copySnippet"
      color="base"
      variant="outline"
      size="sm"
      id="copySnippet"
      ><Icon name="copy" /></Button
    >
  </div>
</div>

<script define:vars={{ codeSnippet }} is:inline>
  const inputs = document.querySelectorAll('.story-input')

  inputs.forEach((input) => {
    input.addEventListener('change', (event) => {
      const { name, value } = event.target
      const url = new URL(window.location.href)
      url.searchParams.set(name, value)
      window.location.href = url
    })
  })

  document
    .getElementById('copySnippet')
    .addEventListener('click', () => navigator.clipboard.writeText(codeSnippet))
</script>

<style>
  * {
    box-sizing: border-box;
  }

  .story {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border);
    width: 100%;

    .story-preview {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 0;
      padding: 1rem;
      width: 100%;
    }

    .story-inputs {
      display: flex;
      flex-direction: column;
      gap: var(--space-2);
      border-bottom: 0;
      border: solid var(--border);
      border-width: 1px 0px;
      background-color: var(--background-subtle);
      padding: var(--space-3);
      width: 100%;
    }

    .story-snippet {
      display: flex;
      justify-content: space-between;
      background-color: var(--background-subtle) !important;
      padding: var(--space-3);
      font-size: var(--text-label);

      .astro-code {
        margin: 0;
        background-color: var(--background-subtle) !important;
        font-size: var(--text-label);
      }
    }
  }
</style>
