---
import StoryComponent from './StoryComponent.astro'
import StoryDetails from './StoryDetails.astro'
import StoryField from './StoryField.astro'
import StorySnippet from './StorySnippet.astro'

const { ...rest } = Astro.props
---

<div class="story">
  <StoryComponent {...rest.props} />

  <StoryDetails name={rest.props.component} />

  <StorySnippet
    name={rest.props.component}
    props={rest.props}
  />

  <div id="inputs">
    {
      Object.entries(rest).map(([key, value]) => {
        return (
          <StoryField
            component={rest.props.component}
            {key}
            {value}
          />
        )
      })
    }
  </div>
</div>

<script is:inline>
  document.addEventListener('change', function () {
    var div = document.getElementById('inputs')
    var inputs = div.getElementsByTagName('input')
    var selects = div.getElementsByTagName('select')
    var params = []

    Array.prototype.forEach.call(inputs, function (input) {
      if (input.name && input.value) {
        params.push(
          encodeURIComponent(input.name) + '=' + encodeURIComponent(input.value)
        )
      }
    })

    Array.prototype.forEach.call(selects, function (select) {
      if (select.name && select.value) {
        params.push(
          encodeURIComponent(select.name) +
            '=' +
            encodeURIComponent(select.value)
        )
      }
    })

    window.location.href = '/?' + params.join('&')
  })
</script>
