---
import { getEntry } from 'astro:content'
import { dash } from 'radash'

const { component, ...rest } = Astro.props

const componentData: any = await getEntry('components', dash(component))
---

{
  Object.entries(rest.value).map(([key, value]: [string, any]) => {
    if (key !== 'component' && value !== 'undefined') {
      if (componentData.data.props[key].options) {
        return (
          <div>
            <label>{key}</label>
            <select
              id={key}
              onchange="updateUrl()"
            >
              {componentData.data.props[key].options.map((option: string) => {
                if (option === value) return <option selected>{option}</option>
                return <option>{option}</option>
              })}
            </select>
          </div>
        )
      }

      return (
        <div>
          <label>{key}</label>
          <input
            id={key}
            type="text"
            onchange="updateUrl()"
            value={value}
          />
        </div>
      )
    }

    return (
      <div>
        <input
          id={key}
          type="hidden"
          value={value}
        />
      </div>
    )
  })
}
