---
import { getEntry } from 'astro:content'
import { dash } from 'radash'

const { component, ...rest } = Astro.props

const componentData: any = await getEntry('components', dash(component))
---

{
  Object.entries(rest.value).map(([key, value]: [string, any]) => {
    if (key !== 'component' && value !== 'undefined') {
      if (
        componentData.data.props[key] &&
        componentData.data.props[key].options
      ) {
        return (
          <div>
            <label>{key}</label>
            <select name={key}>
              {componentData.data.props[key].options.map((option: string) => {
                if (option === value) return <option selected>{option}</option>
                return <option>{option}</option>
              })}
            </select>
          </div>
        )
      }

      if (value !== '') {
        return (
          <div>
            <label>{key}</label>
            <input
              name={key}
              type="text"
              value={value}
            />
          </div>
        )
      }
    }

    return (
      <div>
        <input
          name={key}
          type="hidden"
          value={value}
        />
      </div>
    )
  })
}
